<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <div id="root">
        <h2>All tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h2>Incomplete tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                tasks: [
                    {description: 'Go to store', completed: false},
                    {description: 'Wash the windows', completed: true},
                    {description: 'Feed the dog', completed: false},
                    {description: 'Grate the cheese', completed: false},
                    {description: 'Peel potatoes for potato salad', completed: false},
                ]
            },
            computed: {
                incompleteTasks() {
                    // ES5
                    return this.tasks.filter(task => ! task.completed);

                    // JS
                    // this.tasks.filter(function(task) {
                    //     return ! task.completed;
                    // });
                }
            }
        });
    </script>
</body>
</html>
